In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("TestTest - Ответы на форму (1).csv")

In [89]:
df

,Отметка времени,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Адрес электронной почты,Баллы,Q1.1
0,22.09.2019 12:24:49,1,3,3,2,1,2,1,1,1,1,NaN,3 / 18,NaN
1,23.09.2019 13:09:23,1,2,3,1,2,1,2,1,1,3,ekserviceek@gmail.com,1 / 18,NaN
2,23.09.2019 13:11:37,"1, 2, 3, 4","2, 4","2, 3","1, 2, 3","2, 3","1, 2, 3","1, 2, 3","1, 2, 3","1, 2","1, 2",konyagin.ek@phystech.edu,0 / 18,NaN

In [94]:
df[df]

In [95]:
participants

array([nan, 'ekserviceek@gmail.com', 'konyagin.ek@phystech.edu'],
      dtype=object)

In [29]:
def StringParser(string):
    out_array = []
    string = string.split(',')
   
    for i in string:
        try:
            out_array.append(int(i))
        except:
            print("Omitting unknown value")
    return set(out_array)

In [73]:
def RetrieveRes(df, participants):
    ans_dict = {}
    for p in participants:
        a = list()
        for i in range(10):
            a.append(df[df['Адрес электронной почты']==p]["Q"+str(i+1)].values)
        ans_dict[p] = a
    return ans_dict

In [ ]:
def Score(ans,correct_ans):
    if(len(ans - correct_ans)) !=0:
        score = 0
    else:
        score = len(ans)
    return score

In [109]:
def ApplyScore(participants_dict, correct_answers):
    final_res = {}
    for participant in participants_dict.keys():
        res_current = participants_dict[participant]
        sum = 0
        for i in range(len(res_current)):
            if len(res_current[i]) == 0:
                continue
            q = res_current[i][0]
            sum +=Score(StringParser(q), correct_answers)
        final_res[participant] = sum
    return final_res

In [112]:
#grades = ApplyScore(RetrieveRes(df, participants), correct_answers)